html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration:none;

}
a:hover, a:focus, a:active{
  outline:none;
  text-decoration: none;
}

b, strong{
  font-weight: bold !important;
}

input:hover, input:focus, input:active{
  outline:none;
  text-decoration: none;
}
input:required{
  box-shadow: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
hgroup, menu, nav, section {
  display: block;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
}

select option:focus, select::-moz-focus-inner, option::-moz-focus-inner, select{
  outline: none;
  border: none;
}

select::-ms-expand {
  display: none;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar::before {
  background-color: red;
}


body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
  background: #fff;
}

.btn-orange{
  background: #e29560;
  border: 1px solid #e29560;
}

.main-container{
  padding: 2rem 1rem;
  min-width: 1000px;
}

#view1 .myTeams__header{
  color: #000;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#view1 .myTeams__header h2{
  padding-right: 15px;
}

#view1 .myTeams__header i{
  cursor: pointer;
}

#view1 .myTeams__list{
  background: #fafbfd;
  max-height: 370px;
  overflow: scroll;
}

#view1 .myTeams__list ul{
  margin: 0;
  padding: 0;
}

#view1 .myTeams__list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

#view1 .myTeams__list ul li p{
  color: #5b5b5b;
}

#view1 .myTeams__list--images{
  display: flex;
  align-items: center;
}

#view1 .myTeams__list--images *{
  margin: 0 7px;
}

#view1 .myTeams__list--images .more-teams{
  border-radius: 50%;
  background: #b4b6b7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
  height: 30px;
}

#view1 .myTeams__list--images .more-teams i{
  color: #ffff;
}

#view1 .myClub{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#view1 .myClub h2{
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

#view1 .myClub .myClub__circle{
  padding: 0.8rem;
  background: #b9b9b9;
  border-radius: 50%;
  border: 2px solid #b9b9b9;
}

#view1 .myClub .myClub__circle i{
  color: #fff;
  font-size: 1.7rem;
}

#view1 .myClub .myClub__circle.verified{
  background: #008ec0;
  border-color: #e48642;
}

#view1 .myClub .myClub-verification{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#view1 .map-search{
  position: relative;
}

#view1 .map-search #map{
  height: 100%;
}

#view1 .map-search #search-input{
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
}

#view1 .map-search #search-input::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
}
#view1 .map-search #search-input input{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
}

#view1  .search-filters__acordion--button{
  border: none;
  background: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 1rem;
  width: 100%;
}



#view1 .main-filters{
  margin-top: 2rem;
}

.search-items__filter{
  flex-wrap: wrap;
}

#view1 .search-filters__acordion--content .acordion--inner.type-file{
  display: flex;
  align-items: center;
  justify-content: center;
}

#view1 .type-file button{
  border: none;
  background: 0 0;
  padding: 0 15px;
}

#view1 .type-file button.selected i, #view1 .type-file button.selected p{
  color: #e29560;
}

#view1 .type-file button i{
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#view1 .type-file button p{
  font-size: 0.8rem;
}



#view1 .search-filters__acordion--button h2{
  color: #e29560;
  font-weight: bold;
  font-size: 1.2rem;
}

#view1 .search-filters__acordion--button i{
  font-size: 1.5rem;
  transition: all 0.5s ease 0s;
}

#view1 .search-filters__acordion--button[aria-expanded=true] i{
  transform: rotate(180deg);
}

#view1 .search-filters__acordion--content h2{
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
}

#view1 .search-filters__acordion--content ul{
  margin: 0;
  padding: 0;
}

#view1 .search-filters__acordion--content ul li{
  margin: 0.5rem 0;
}

#view1 .search-filters__acordion--content label{
  color: #000;
}

#view1 .search-filters__acordion--content .acordion--inner{
  position: relative;
  display: block;
  margin: 1rem 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
  border: 2px solid #e29560;
  background-color: #e29560;
}

#view1 .input-wrapper{
  position: relative;
}

#view1 .input-wrapper::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
}

#view1 .input-wrapper input{
  height: auto;
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #565655;
  width: 100%;
  box-sizing: border-box;
}

#view1 #countrySearch{
  max-height: 300px;
  overflow: scroll;
}

#view1 .checkboxScrolling small{
  font-weight: bold;
}

#view1 .range_content{
  margin: 1rem 0;
}

.ui-state-default, .ui-widget-content .ui-state-default{
  border: 1px solid #e29560;
  border-radius: 50%;
  background: #fff;
}

.ui-widget.ui-widget-content{
  height: 2px;
  border: 1px solid #7d7d7c;
}

.ui-slider-horizontal .ui-slider-handle{
  top: -.64em;
}

#view1 #collapsePresupuesto .range-flex{
  display: flex;
  justify-content: space-between;
}

#view1 #collapsePresupuesto .range-flex .range_content{
  padding: 0 10px;
}


#view1 .search-results__actions .search-input input{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #000;
}

#view1 .search-results__actions .search-input::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000;
}

#view1 .search-results .search-items__wrapper, #view2 .search-results .search-items__wrapper{
  position: relative;
  margin: 1rem 0;
}

#view1 .search-results .search-items__wrapper.selected::after, #view2 .search-results .search-items__wrapper.selected::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 1.3rem;
  position: absolute;
  top: -14px;
  right: -1px;
  padding: 5px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e29560;
  color: #e29560;
  width: 35px;
  height: 35px;
}

#view1 .search-results .search-items__carousel--item img, #view2 .search-results .search-items__carousel--item img{
  width: 100%;
  height: auto;
  display: block;
}

.slick-prev, .slick-next{
  position: absolute;
  top: 50%;
  border: none;
  background: 0 0;
  color: transparent;
  width: 20px;
  height: 39px;
  z-index: 2;
  padding: 0;
  transform: translate(0, -50%);
}

.slick-prev{
  left: 5px;
}

.slick-next{
  right: 5px;
}
.slick-prev::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.slick-next::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

#view1 .search-results .search-items__carousel--item, #view2 .search-results .search-items__carousel--item{
  position: relative;
}

#view1 .search-results .search-items__carousel--item .search-items__title, #view2 .search-results .search-items__carousel--item .search-items__title{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
}

#view1 .search-results .search-items__stars, #view2 .search-results .search-items__stars{
  position: absolute;
  top: 0;
  padding: 5px;
  background: rgba(255,255,255,0.5);
  z-index: 2;
  border-radius: 0 0 10px 0;
}

#view1 .search-results .search-items__carousel--item .search-items__title--logo, #view2 .search-results .search-items__carousel--item .search-items__title--logo{
  margin-right: 10px;
  flex-shrink: 0;
}

#view1 .search-results .search-items__carousel--item .search-items__title--text, #view2 .search-results .search-items__carousel--item .search-items__title--text{
  position: relative;
}

#view1 .search-results .search-items__carousel--item .search-items__title--text p, #view2 .search-results .search-items__carousel--item .search-items__title--text p{
  font-weight: bold;
}

#view2 .search-results .search-items__carousel--item .search-items__title--text span{
 font-size: 0.75rem;
}

#view1 .input-date .calendarMultiple{
  position: relative;
  display: table !important;
}

#view1 .input-date .calendarMultiple .daterangepicker{
  display: table !important;
  position: relative;
}

#view1 .input-date input{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #000;
  width: 100%;
}

#view1 .input-date__resume, #view1 .input-date__resume--description{
  margin: 1rem 0;
  position: relative;
}

#view1 .input-date__resume--inner, #view1 .input-date__resume--description{
  padding: 0 15px;
}

#view1 .input-date__resume--inner span{
  padding-left: 10px;
  font-weight: bold;
}

#view1 .input-date__resume--description span{
  font-weight: bold;
}

#view1 .input-date__resume--description select{
  margin-top: 0.5rem;
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #000;
}

#view1 .search-items__resume--inner, #view2 .search-items__resume--inner{
  margin: 1rem 0;
}

#view1 .search-items__resume, #view2 .search-items__resume{
  background: #f3f3f2;
  padding: 1rem 0;
  position: relative;
  margin: 0;
}

#view1 .search-items__resume p, #view2 .search-items__resume p{
  color: #5c5c5c;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

#view1 .search-items__resume span, #view2 .search-items__resume span{
  color: #5c5c5c;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 1.2rem;
}

#view1 .search-items__resume span.cost, #view2 .search-items__resume span.cost{
  color: #e29560;
}

#view1 .select-hours__item, #view2 .select-hours__item{
  padding: 0 5px;
  display: flex;
  align-items: center;
}

#view1 .select-hours__item select, #view2 .select-hours__item select{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 5px;
  height: auto;
  border: 1px solid #000;
  margin-right: 5px;
  text-align: center;
}

#view1 .selected-filters, #view2 .selected-filters{
  background: #f3f3f2;
}

#view1 .selected-filter__header{
  margin: 1rem 0;
  padding: 1rem;
}
#view1 .selected-filter__header h2{
  margin: 0;
}

#view1 .table-responsive tbody{
  display: block;
  table-layout:fixed;
  max-height: 450px;
  overflow:auto;
}
#view1 .table-responsive thead, #view1 .table-responsive tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

#view1 .table-responsive .table th{
  text-align: center;
}

#view1 .table-responsive .table thead tr th i{
  color: #e29560;
  font-size: 1.5rem;
}

#view1 .table-responsive .table tbody tr th img{
  vertical-align: middle;
}

#view1 .table-responsive .table tbody tr th p{
  display: block;
}

#view1 .table-responsive .table tbody tr th.table-name{
  font-weight: bold;
}

#view1 .table-responsive .table th{
  vertical-align: middle;
}

#view1 .table-responsive .total b{
  display: block;
}

#view1 .accept-btn{
  border: none;
  margin: 0 auto;
  background: #e29560;
  padding: 1rem 2rem;
  color: #fff;
  font-weight: bold;
  margin: 1rem auto;
  display: block;
}







#view2 .detail-campaing{
  position: relative;
}

#view2 .detail-campaing .detail-campaing__hero{
  background-image: url('https://via.placeholder.com/1920x300.png?text=Hero&Banner');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

#view2 .detail-campaing__image{
  position: absolute;
  top: 170px;
  left: 50px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  overflow: hidden;
}

#view2 .detail-campaing__image img{
  width: 100%;
  height: auto;
  display: block;
}

.detail-campaing__info{
  position: relative;
  padding-left: 300px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-campaing__name{
  position: relative;
  display: block;
  padding-right: 1rem;
}

.detail-campaing__name h2{
  font-weight: bold;
  margin-bottom: 1rem;
}

.detail-campaing__dates{
  display: flex;
}

.detail-campaing__dates .campaing__dates--inner{
  padding: 0 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.detail-campaing__dates .campaing__dates--inner span{
  font-weight: bold;
}

.detail-brands{
  display: flex;
}

.detail-brands .detail-brands__brands{
  width: 20%;
  padding: 0 1rem;
}

.detail-brands .detail-brands__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.detail-brands .detail-brands__brief{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  flex-flow: column;
}

.detail-brands .detail-brands__brief label{
  padding-bottom: 1rem;
}

.detail-brands .detail-brands__brief textarea{
  height: 100px;
  background: #f2f2f2;
  padding: 1rem;
  color: #000;
  border: none;
  resize: none;
  display: block;
  position: relative;
  width: 100%;
}

.detail-brands__list{
  width: 100%;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-flow: row;
  padding-bottom: 1rem;
}

.detail-brands__list img{
  flex-shrink: 0;
  max-width: 60px;
  width: 100%;
  height: auto;
  display: block;
}

.detail-brands__list button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #f2f2f2;
  padding: 0;
  flex-shrink: 0;
}

.detail-brands__list > *{
  margin: 0 0.5rem;
}

.detail-brands__list button i{
  font-size: 2rem;
}

#view2  .search-filters__acordion--button{
  border: none;
  background: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 1rem;
  width: 100%;
}


#view2 .search-filters__acordion--button h2{
  color: #e29560;
  font-weight: bold;
  font-size: 1.2rem;
}

#view2 .search-filters__acordion--button h2 span{
  background: #fff;
  border: 1px solid #e29560;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 0.5rem;
}

#view2 .search-filters__acordion--button i{
  font-size: 1.5rem;
  transition: all 0.5s ease 0s;
}

#view2 .search-filters__acordion--button[aria-expanded=true] i{
  transform: rotate(180deg);
}

#view2 .search-filters__acordion--content .acordion--inner.type-file{
  display: flex;
  align-items: center;
  justify-content: center;
}

#view2 .type-file button{
  border: none;
  background: 0 0;
  padding: 0 15px;
}

#view2 .type-file button.selected i, #view2 .type-file button.selected p{
  color: #e29560;
}

#view2 .type-file button i{
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#view2 .type-file button p{
  font-size: 0.8rem;
}

#view2 .search-filters__acordion--content .acordion--inner{
  position: relative;
  display: block;
  margin: 1rem 0;
}

#view2 .search-filters__acordion--content h2 {
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0;
}

#view2 .search-filters__acordion--content .file-to-upload video{
  width: 100%;
 height: auto;
}

#view2 .file-to-upload__actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#view2 .file-to-upload__actions > *{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#view2 .file-to-upload__actions #mixing{
  margin-top: 1rem;
}

#view2 .clubs-info__resume{
  margin: 1rem 0;
  position: relative;
}

#view2 .clubs-info__resume span{
  font-weight: bold;
}

#view2 .clubs-info__resume--vacantes{
  display: flex;
  align-items: center;
}

#view2 .clubs-info__resume--vacantes input{
  background: #fff;
border: none;
font-size: 1rem;
padding: 10px;
height: auto;
border: 1px solid #000;
width: 50px;
text-align: center
}

#view2 .clubs-info__resume--vacantes p{
  padding: 0 1rem;
}

#view2 .clubs-info__resume.dateRangeHour input{
  background: #fff;
border: none;
font-size: 1rem;
padding: 10px;
height: auto;
border: 1px solid #000;
width: 100%;
}

#view2 .presupuesto .disclaimer{
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

#view2 .presupuesto label{
  width: 100%;
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

#view2 .presupuesto input{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #000;
  margin: 0.5rem;
  max-width: 110px;
}

#view2 .presupuesto.presupuesto-limit{
  background: #f2f2f2;
  padding: 1rem;
}

#view2 .presupuesto.presupuesto-limit input{
  margin: 0.5rem;
}

#view2 .presupuesto.presupuesto-limit span{
  color: #e29560;
  font-weight: bold;
  padding: 0.5rem;
}

#view2 .presupuesto-actions button{
  margin: 0 1rem;
}

#view2 .proyecciones-resume{
  display: flex;
  justify-content: space-between;
}

#view2 .proyecciones-resume .proyecciones-resume__actions i{
  margin: 0 0.5rem;
}

#view2 .proyecciones-resume h2{
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
}

#view2 .proyecciones-resume__actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#view2 .proyecciones-resume__actions .proyecciones-resume__actions--buttons button.selected{
  background: #e29560;
  color: #fff;
}

.table thead th, .table tbody th, .table thead td, .table tbody td{
  border: 1px solid #d8dbe0;
  text-align: center;
  font-size: 0.75rem;
}

#view2 .col-table .col-table__content .table thead tr td{
  border: none;
}

#view2 .col-table .col-table__content .table td.female{
  color: #bc3075;
}

#view2 .col-table .col-table__content .table td.male{
  color: #4665fd;
}

#view2 .detail-brands__alcance{
  background: #edeeef;
}

#view2 .col-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#view2 .col-header h2{
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
}

#view2 .col-body{
  position: relative;
  margin: 1rem 0;
}

#view2 .col-table{
  margin: 1rem 0;
}

#view2 .col-table h2{
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0;
}

#view2 .col-table__content{
  max-height: 300px;
  height: 300px;
  overflow: auto;
  position: relative;
  display: block;
  background: #fff;
}

#view2 .detail-brands__resume{
  background: #edeeef;
}

#view2 .detail-brands__resume--name{
  margin: 1rem 0;
  font-weight: bold;
}

#view2 .detail-brands__resume--accions{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}

#view2 .detail-brands__resume--text{
  display: flex;
  justify-content: center;
  align-items: center;
}

#view2 .detail-brands__resume--buttons{
  padding: 0 1rem;
}

#view2 .detail-brands__resume--buttons i{
  font-size: 1.3rem;
  padding: 0 0.5rem;
}

#view2 .detail-brands__resume--finish{
  margin: 1rem 0;
}

#view2 .detail-brands__resume--finish .resume--inner{
  margin-bottom: 1rem;
}

#view2 .detail-brands__resume--finish .resume--inner h3{
  font-weight: bold;
}

#view2 .detail-brands__resume--finish .resume-wrapper{
  margin: 1rem 0;
}

#view2 .detail-brands__resume--finish .resume-wrapper span{
  color: #5d5d5d;
}

#view2 .club-invitations{
  background: #edeeef;
  border: 1px solid #5d5d5d;
}

#view2 .club-invitations__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

#view2 .club-invitations__header h2{
  font-weight: bold;
}

#view2 .club-invitations__header i{
  margin: 0 0.5rem;
  font-size: 1.3rem;
}

#view2 .club-invitations__header i.selected{
  color: #e29560;
}

#view2 .club-invitations__period--item span{
  font-weight: bold;
  padding: 0 1rem;
}





#view3 .detail-region{
  position: relative;
}

#view3 .detail-region .detail-region__hero{
  background-image: url('https://via.placeholder.com/1920x300.png?text=Hero&Banner');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

#view3 .detail-region__image{
  position: absolute;
  top: 210px;
  left: 50px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  overflow: hidden;
}

#view3 .detail-region__image img{
  width: 100%;
  height: auto;
  display: block;
}

#view3 .detail-region__info{
  position: relative;
  padding-left: 260px;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#view3 .detail-region__name{
  position: relative;
  display: block;
  padding-right: 1rem;
}

#view3 .detail-region__name h2{
  font-weight: bold;
  font-size: 1.5rem;
}

#view3 .detail-region__name p .verified i{
  color: #1da1f2;
}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    overflow: hidden;
}

#view3 .detail-region__dates{
  display: flex;
}

#view3 .detail-region__dates .campaing__dates--inner{
  padding: 0 1rem;
  text-align: center;
  font-size: 0.8rem;
}

#view3 .detail-region__dates .campaing__dates--inner span{
  font-weight: bold;
}

.nav-tabs{
  border: none;
}
.nav-tab-item{
  padding: 0.2rem 1rem;
  border: none;
  border-right: 1px solid #000;
  color: #000;
  font-weight: bold;
}
.nav-tab-item.active{
  color: #e29560;
}
.nav-tab-item:last-child{
  border: none;
}

.map{
  display: block;
  width: 100%;
}

.map #chartdiv{
  width: 100%;
  height: 100%;
}

.map button{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 2;
}
.map button:hover{
  color: #fff;
}
.periodicidad  h2{
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.periodicidad--item{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.periodicidad--item input{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #000;
  width: 100%;
}
html:not([dir="rtl"]) .form-check{
  padding: 0;
  border: 1px solid #000;
  border-left: none;
}
html:not([dir="rtl"]) .form-check:first-child{
  border-left: 1px solid #000;
}
.periodicidad--item .form-check-input{
  position: absolute;
  left: -9999999px;
}
.periodicidad--item .form-check label{
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
.periodicidad--item .form-check-input:checked ~ label{
  background: #e29560;
  color: #fff;
  display: block;
}

.periodicidad--inner{
  width: 50%;
  padding: 0 1rem;
}

.periodicidad--inner label{
  font-weight: bold;
  margin: 0.5rem 0;
}
.periodicidad--inner .input-wrapper{
  position: relative;
}
.periodicidad--inner .input-wrapper::after{
  font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "\f002";
font-size: 1rem;
position: absolute;
top: 10px;
right: 10px;
color: #000;
}

.periodicidad--inner .input-wrapper.select::after{
content: "\f078";
}
.periodicidad--inner .input-wrapper input, .periodicidad--inner .input-wrapper select{
  height: auto;
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #565655;
  width: 100%;
  box-sizing: border-box;
}

.ui-widget.ui-widget-content{
  border: 1px solid #000;
  height: auto;
}

.ui-menu .ui-menu-item{
  border-bottom: 1px solid #000;
}

.detail-region--results{
  margin: 1rem 0;
  position: relative;
  display: flex;
  flex-flow: row;
  padding: 20px 0;
  border-bottom: 1px solid #000;
  min-width: 1180px;
}

.detail-region--results:first-child{
  border-top: 1px solid #000;
}

.detail-region__wrapper{
  overflow: auto;
}

.detail-region--results .detail-generals{
  padding: 0 15px;
  width: 50%;
  border-right: 1px solid #000;
  display: flex;
}

.detail-region--results .detail-generals .detail--generals__main{
  width: 80%;
  padding-right: 15px;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--title{
  padding-bottom: 0.5rem;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--title h2{
  font-weight: bold;
  font-size: 1.5rem;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--rates{
  position: relative;
  width: 100%;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li{
  padding-right: 15px;
  position: relative;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111";
  font-size: 0.3rem;
  position: absolute;
  top: 7px;
  right: 6px;
  color: #000;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li:last-child::after{
  display: none;
}

.detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li.rating-points{
  color: #fe4117;
  font-weight: bold;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li.rating-stars .score .stars-active{
  color: #fe4117;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li.rating-number, #view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li.rating-coin, #view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li.rating-country, #view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--rates ul li.rating-adress{
  color: #778f90;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--benefits{
  margin: 1rem 0;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--benefits ul{
  display: flex;
  flex-flow: column;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--benefits ul li{
  padding: 0.2rem 0 0.2rem 1.2rem;
  position: relative;
  color: #778f90;
  font-size: 1.2rem;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--benefits ul li::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.8em;
  position: absolute;
  top: 0.3rem;
  left: 0;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--benefits ul li.checked::before{
  content: "\f00c";
  color: #16fe00;
}

#view3 .detail-region--results .detail-generals .detail--generals__main .detail-generals--benefits ul li.no-checked::before{
  content: "\f00d";
  color: #ff0000;
}

#view3 .detail-region--results .detail-generals .detail--generals--images{
  position: relative;
  display: block;
  width: 20%;
}

#view3 .detail-region--results .detail-generals .detail--generals--images img{
  width: 100%;
  height: auto;
  display: block;
}

#view3 .detail-region--results .detail-generals .detail--generals--images::before{
  content: '';
  color: #fff;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -15px;
  left: -15px;
  border-radius: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.3rem;
  padding: 6px;
  text-align: center;
}

#view3 .detail-region--results.available .detail-generals .detail--generals--images::before{
  content: "\f00c";
  background: #16fe00;
}

#view3 .detail-region--results.disabled .detail-generals .detail--generals--images::before{
  content: "\f068";
  color: #fff;
  background: #bfcecb;
}

#view3 .detail-region--results.warning .detail-generals .detail--generals--images::before{
  content: "\f12a";
  color: #fff;
  background: #fefe00;
}

#view3 .detail-region--results.not-available .detail-generals .detail--generals--images::before{
  content: "\f068";
  color: #fff;
  background: #fe0000;
}

.detail--descriptions{
  padding: 0 15px;
  width: 50%;
  display: flex;
}

.detail--descriptions .detail--descriptions--team{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.detail--descriptions .detail--descriptions--team .team-item{
  padding: 0 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail--descriptions .detail--descriptions--team .team-item img{
  max-width: 130px;
  height: auto;
  display: block;
  flex-shrink: 0;
  margin-bottom: 0.3rem;
  border-radius: 50%;
}

.detail--descriptions--campaings{
  width: 15%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.detail--descriptions--campaings p{
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.detail--descriptions--campaings .campaings-number{
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#view3 .detail-region--results.available .detail--descriptions .detail--descriptions--campaings .campaings-number{
  background: #e87d54;
  color: #fff;
}

#view3 .detail-region--results.disabled .detail--descriptions .detail--descriptions--campaings .campaings-number{
  background: #becdca;
  color: #fff;
}

#view3 .detail-region--results.warning .detail--descriptions .detail--descriptions--campaings .campaings-number{
  background: #fefe00;
  color: #fff;
}

#view3 .detail-region--results.not-available .detail--descriptions .detail--descriptions--campaings .campaings-number{
  background: #ff0000;
  color: #fff;
}

.detail--descriptions--numbers{
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.detail--descriptions--numbers .campaings--number{
  margin: 0.5rem 0;
  text-align: center;
}

.detail--descriptions--numbers .campaings--number span{
  font-weight: bold;
}

#view3 .detail-region--results.available .campaings--number{
  color: #000;
}

#view3 .detail-region--results.available .detail--descriptions--numbers .campaings--number.vclubs{
  color: #e87d54;
}

#view3 .detail-region--results.disabled .campaings--number{
  color: #becdca;
}

#view3 .detail-region--results.warning .campaings--number{
  color: #000;
}

#view3 .detail-region--results.warning .detail--descriptions--numbers .campaings--number.vclubs{
  color: #becdca;
}

#view3 .detail-region--results.not-available .detail--descriptions--numbers .campaings--number.vclubs{
  color: #becdca;
}

.invitation-code .form-check{
  width: 33.3333%;
  border: 1px solid #000 !important;
}

.invitation-code--item {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    align-items: center;
}

.invitation-code--item.input-code{
  position: relative;
}

.invitation-code--item.input-code input{
  background: #fff;
  border: none;
  font-size: 1rem;
  padding: 10px;
  height: auto;
  border: 1px solid #000;
  width: 100%;
}

.invitation-code--item.input-code i{
  font-size: 1.3rem;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
